monolog:
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug
                channels: ["!event"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!deprecation"]
                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
            nested:
                type: stream
                path: php://stderr
                level: debug
                formatter: monolog.formatter.json
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: php://stderr
                formatter: monolog.formatter.json

    channels:
        - faq  # Добавляем кастомный канал
    handlers:
        # Обычный файл с JSON форматом
        faq_file:
            type: stream
            path: "%kernel.logs_dir%/faq.log"
            level: debug
            channels: ["faq"]
            formatter: monolog.formatter.json_formatter

        # Простой текстовый файл (как у вас было)
        faq_debug_file:
            type: stream
            path: "%kernel.logs_dir%/faq_debug.log"
            level: debug
            channels: ["faq"]
            formatter: monolog.formatter.line_formatter
            # Или кастомный форматтер для точного повторения вашего стиля
