
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

.ddev/
.editorconfig
.env
.env.dev
.gitignore
.php-cs-fixer.dist.php
bin/
compose.override.yaml
compose.yaml
php-cs-fixer.phar
phpstan-config.neon
phpstan.neon
public/
rector.php
symfony.lock
.env.test
assets/
importmap.php
phpunit.dist.xml
tests/

!public/assets/js/
!public/assets/css/
