{% extends 'layouts/main.html.twig' %}

{% block title %}Web chat{% endblock %}

{% block body %}
    <div class="chat-container">
        <div class="chat-header">
            <h1>Ваш помощник</h1>
            <p>Отвечаю на вопросы нашего магазина</p>
        </div>
        <div style="text-align: center; margin-top: 30px;">
            <p>Ошибка 404: страница не найдена</p>
        </div>
    </div>
{% endblock %}
